# Stellar RPC URL (testnet)
VITE_RPC_URL=https://soroban-testnet.stellar.org

# Contract ID (deploy contract first, then add here)
VITE_CONTRACT_ID=CCTT265PWNXRNPWXPGRPRSCVTYTT43J6PUVEN253YWKUSSUXZYCU5QDN

# Network
VITE_NETWORK=TESTNET
