# Stellar RPC URL
RPC_URL=https://soroban-testnet.stellar.org

# Contract ID
CONTRACT_ID=CCTT265PWNXRNPWXPGRPRSCVTYTT43J6PUVEN253YWKUSSUXZYCU5QDN

# Executor secret key (testnet only - NEVER use in production)
EXECUTOR_SECRET=SC6CMVTUQ3FW2KDBCHEA7LCQJLKROOPHXAZQCJBN5ZU6UQWG67YYR5DG
